@import url('https://fonts.googleapis.com/css?family=PT+Sans');

.slidecontainer
{
    width: 100%;
}
.slider
{
    width: 35%;
    height: 8px;

    -webkit-transition: .2s;
            transition: opacity .2s;

    opacity: .7;
    outline: none;
    background: #d3d3d3;

    -webkit-appearance: none;
            appearance: none;
}
.slider:hover
{
    opacity: 1;
}

.slider::-webkit-slider-thumb
{
    width: 5px;
    height: 5px;

    cursor: pointer;

    background: rgba(82, 35, 135, .8);

    -webkit-appearance: none;
            appearance: none;
}

.slider::-moz-range-thumb
{
    width: 20px;
    height: 20px;

    cursor: pointer;

    background: rgba(82, 35, 135, .8);
}

.Center-Box {
    width: 60%;
    background: rgba(255,255,255,.7);
}
.Ford-Image {
    height: 100px;
    width: 250px;
}
h1
{
    font-family: 'PT Sans', sans-serif;
    font-size: 60px;
}

h3
{
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
}

body
{
    background-image: url(https://i.pinimg.com/originals/cc/a7/51/cca751089a1be32e84ddf8e7e3381140.jpg);
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
