table {
    border-collapse: collapse;
    width: 60%;
}

table, th, td {
    border: 5px solid black;
}

.header-row {
    background-color: blue;
}

.blue {
    background-color: lightblue;
}

body {
    font-family: Palatino Linotype, Times New Roman, serif;
}